
/* ALL Views */

.HeadContainer-dashboard h1, h2, h3, h4, h5, h6, p {
  margin: 0 !important;
  padding: 0 !important;
}
.container-guttersforDashboard {
  --bs-gutter-x: 0px !important;
  --bs-gutter-y: 0px !important;
}

       
/* Mobile View */
@media (max-width: 767px) {
  .HeadContainer-dashboard{
      margin: 0 auto;
      max-width: 1280px;
      height: fit-content;
  }
  .MainCont-dashboard{
    padding-top: 85px;
    padding-bottom: 20px;
  }
  .dashboard-card{
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    padding: 20px;
}
}

/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px){
  .MainContainer-dashboard{
      width: 100%;
      height: fit-content;
  }    
  .HeadContainer-dashboard{
      margin: 0 auto;
      max-width: 1280px;
      height: fit-content;
  }
  .MainCont-dashboard{
    padding-top: 85px;
    padding-bottom: 20px;
  }
  .dashboard-card{
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    padding: 20px;
}
}

/* Desktop View */
@media (min-width: 1200px) {
  .HeadContainer-dashboard{
      margin: 0 auto;
      background-color: aqua;
      max-width: 1280px;
      height: fit-content;
  }
  .MainCont-dashboard{
    padding-top: 85px;
    padding-bottom: 20px;
  }
  .dashboard-card{
    border-radius: 8px;
    width: 100%;
    display: inline-block;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%);
    padding: 20px;
}
}






/* Large Sektop View */
@media (min-width: 1367px) {
  .HeadContainer-dashboard{
      margin: 0 auto;
      max-width: 1300px;
      height: fit-content;
  }
  
}

@media (min-width: 1729px) {
  .SubContainer-dashboard{
      margin: 0 auto;
      max-width: 1728px;
      height: fit-content;
  }
}