/* ALL Views */

.HeadContainer-dashboard h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 !important;
    padding: 0 !important;
}

.container-guttersforResumeform {
    --bs-gutter-x: 0px !important;
    --bs-gutter-y: 0px !important;
}

.rf-Tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}



/* Mobile View */
@media (max-width: 767px) {
    .fresher-form {
        padding: 15px;
    }
}


/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
    .fresher-form {
        padding: 15px;
    }
}


/* Desktop View */
@media (min-width: 1200px) {
    .fresher-form {
        padding: 15px;
    }
}