/* ALL Views */

.HeadContainer-dashboard h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
  padding: 0 !important;
}

.container-guttersforResumeform {
  --bs-gutter-x: 0px !important;
  --bs-gutter-y: 0px !important;
}



/* Mobile View */
@media (max-width: 767px) {
  .HeadContainer-resumeform {
    margin: 0 auto;
    max-width: 1280px;
    height: fit-content;
  }

}


/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
  .MainContainer-resumeform {
    width: 100%;
    height: fit-content;
  }

  .HeadContainer-resumeform {
    margin: 0 auto;
    max-width: 1280px;
    height: fit-content;
  }
}

/* Desktop View */
@media (min-width: 1200px) {
  .HeadContainer-resumeform {
    margin: 0 auto;
    max-width: 1280px;
    height: fit-content;
    padding-top: 85px;
    padding-bottom: 20px;
  }

}






/* Large Sektop View */
@media (min-width: 1367px) {
  .HeadContainer-resumeform {
    margin: 0 auto;
    max-width: 1300px;
    height: fit-content;
  }

}

@media (min-width: 1729px) {
  .SubContainer-resumeform {
    margin: 0 auto;
    max-width: 1728px;
    height: fit-content;
  }
}