/* --------------    parent container styles    ------------------- */

.reviewcard-header {
    display: flex;
    width: 100%;
    padding: 30px 30px 0px 30px;
}

.review-card-cont {
    width: 100%;
    height: fit-content;
}

.reviewcard-feedback-decription {
    width: 100%;
    height: fit-content;
}

.emptydataerr {
    padding-top: 10px;
}

.emptydataerr p {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: red;
    margin: 0;
}

.deletemodalquestion h2 {
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: red;
    margin: 0;
}


/* Mobile View */
@media (max-width: 767px) {
    .HeadContainer-review {
        margin: 0 auto;
        max-width: 1366px;
        padding-top: 60px;
        width: 100%;
        height: 100vh;
    }

    .reviewMain-cont {
        width: 100%;
        padding: 0px 10px 0px 10px;
    }

    .reviewcard-header-cont {
        width: 100%;
        height: fit-content;
        padding-left: 4px;
    }

    #avatarContent {
        height: 40px;
        width: 40px;
    }

    #avatarContent p {
        text-transform: capitalize;
        font-size: 26px;
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }

    .reviewcard-title {
        width: 100%;
        height: fit-content;
    }

    .reviewcard-title h3 {
        text-transform: capitalize;
        font-size: 18px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .reviewcard-star-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }

    .reviewcard-star-cont p {
        font-size: 14px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
        padding-top: 6px !important;
    }

    .reviewcard-date-cont {
        width: 100%;
        height: fit-content;
    }

    .reviewcard-date-cont p {
        font-size: 10px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .reviewcard-feedback-decription p {
        font-size: 12px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .deletemodalheader h4 {
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }

}



/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
    .MainContainer-review {
        width: 100%;
        height: fit-content;
    }

    .HeadContainer-review {
        margin: 0 auto;
        max-width: 1366px;
        padding-top: 40px;
        width: 100%;
        height: 100vh;
    }

    .reviewMain-cont {
        width: 100%;
        padding: 0px 20px 0px 20px;
    }

    .HeadContainer-review {
        margin: auto;
        height: fit-content;
    }

    .reviewcard-header-cont {
        width: 100%;
        height: fit-content;
    }

    #avatarContent {
        height: 50px;
        width: 50px;
    }

    #avatarContent p {
        text-transform: capitalize;
        font-size: 30px;
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }

    .reviewcard-title {
        width: 100%;
        height: fit-content;
    }

    .reviewcard-title h3 {
        text-transform: capitalize;
        font-size: 24px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .reviewcard-star-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }

    .reviewcard-star-cont p {
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
        padding-top: 6px !important;
    }

    .reviewcard-date-cont {
        width: 100%;
        height: fit-content;
    }

    .reviewcard-date-cont p {
        font-size: 12px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .reviewcard-feedback-decription p {
        font-size: 14px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .deletemodalheader h4 {
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }
}

/* Desktop View */
@media (min-width: 1200px) {
    .HeadContainer-review {
        margin: 0 auto;
        max-width: 1366px;
        padding-top: 60px;
        width: 100%;
    }

    .reviewMain-cont {
        width: 100%;
        padding: 0px 50px 0px 50px;
    }

    .reviewcard-header-cont {
        width: 100%;
        height: fit-content;
    }

    #avatarContent {
        height: 60px;
        width: 60px;
    }

    #avatarContent p {
        font-size: 35px;
        text-transform: capitalize;
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }

    .reviewcard-title {
        width: 100%;
        height: fit-content;
    }

    .reviewcard-title h3 {
        text-transform: capitalize;
        font-size: 24px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .reviewcard-star-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }

    .reviewcard-star-cont p {
        font-size: 18px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
        padding-top: 6px !important;
    }

    .reviewcard-date-cont {
        width: 100%;
        height: fit-content;
    }

    .reviewcard-date-cont p {
        font-size: 12px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .reviewcard-feedback-decription p {
        font-size: 16px;
        font-family: 'Nunito', sans-serif;
        text-align: left;
        letter-spacing: 0px;
        opacity: 1;
        margin: 0;
    }

    .deletemodalheader h4 {
        font-size: 24px;
        font-family: 'Nunito', sans-serif;
        margin: 0;
    }
}

@media (min-width: 1367px) {
    .HeadContainer-review {
        margin: 0 auto;
        max-width: 1300px;
        height: fit-content;
    }

}

@media (min-width: 1729px) {
    .SubContainer-review {
        margin: 0 auto;
        max-width: 1728px;
        height: fit-content;
    }
}