/* --------------    parent container styles    ------------------- */

.reviewcard-header {
    display: flex;
    width: 100%;
    padding: 30px 30px 0px 30px;
}

.review-card-cont {
    width: 100%;
    height: fit-content;
}


/* Mobile View */
@media (max-width: 767px) {
    .HeadContainer-review {
        margin: auto;
        height: fit-content;
    }

 
}



/* Tablet View */
@media (min-width: 768px) and (max-width: 1199px) {
    .MainContainer-review {
        width: 100%;
        height: fit-content;
    }

}

/* Desktop View */
@media (min-width: 1200px) {
    .HeadContainer-review {
        margin: auto;
        height: fit-content;
    }

    .reviewMain-cont {
        width: 100%;
        padding: 0px 50px 0px 50px;
    }
}

@media (min-width: 1367px) {
    .HeadContainer-review {
        margin: 0 auto;
        max-width: 1300px;
        height: fit-content;
    }

}

@media (min-width: 1729px) {
    .SubContainer-review {
        margin: 0 auto;
        max-width: 1728px;
        height: fit-content;
    }
}